// ----------------CREATE RESOURCE ------------------
.modal-resource-content {
  background-color: white;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 25px;

  .create-resource-info {
    background-color: white;
    width:50%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    // position:relative;
    border-radius: 25px;

    .form-group {
      width: 80%;
    }
  }
  .modal-img {
    background-color: white;
    width:50%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 25px;

    .create-resource-img {
      max-height: 100%;
      max-width: 100%;
      border-radius: 20px;
    }
  }

// -----------------VIEW RESOURCE -------------------

  .view-resource-info {
    background-color: white;
    width:50%;
    height:96%;
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    border-radius: 25px;
    margin-top: 20px;

    .view-title {
      width: 90%;
      height: 5%;
      font-size: 2em;
      font-family: 'Lemonada', cursive;

      a {
        display: flex;
        justify-content: center;
      }
    }

    .view-description{
      width: 90%;
      // height: 25%;
      // margin-top: 50px;
      align-items: flex-start;
      font-size: 1em;
      overflow: auto;

      // .description-title{
      //   font-size: 1.2em;
      // }

    }

    .description{
      margin-top: 7%;
      align-items: flex-start;
      width: 100%;

      .description-title{
        font-weight: bold;
        font-size: 20px;
        margin-left: 5%;

      }
    }

    h3{
      align-self: flex-start;
      margin-top: 3%;
      margin-left: 5%;
      font-size: 1.3em;
      font-weight: bold;
    }

    .add-comment-form{
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .add-comment{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        input{
          width:80%;
          border-radius: 10px;
          border: solid black 1px;
        }

        .comment-btn{
          margin-bottom: 3%;
        }

      }

      input{
        margin-bottom: 3%;
      }

    }

    .view-comments{
      width: 90%;
      height: 50%;
      margin-bottom: 25px;
      overflow:auto;

      .comment{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid black;
        padding: 10px;
        border-radius: 15px;
        width: 100%;
        margin-bottom: 7%;

        .user-name {
          margin-bottom: 10px;
          font-weight: bold;
        }
        p {
          overflow-wrap: break-word;
        }
      }

    }
  }

  .left-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-img-show {

      width:350px;
      height:400px;
      text-align: center;
      display:flex;
      justify-content: center;
      align-items: center;

      #resource-img{
        max-height: 100%;
        max-width: 100%;
        border-radius: 5%;
        margin-top: 5%;
      }

    }

    .below-img {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 5%;

      .likes {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        #heart-btn{
          margin: 10%;
        }

      }
      .rating {
        height: 30%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

        .checked {
          color: orange;
        }
      }
    }
  }
  .modal-view-resource-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-create-resource-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }

}


@media screen and (max-width: 1024px) {

  .modal-resource-content{
    width: 90%;
    display:flex;

    .view-title{
      width: 100%;
    }

    .description{
      align-self: flex-start;
      margin-top: 7%;
      font-weight: bold;

    }

    .view-resource-info{
      .view-description{
        margin-top: 0;
        font-size: 0.9em;
      }

      .view-title{
        font-size: 1.5em;
      }

      h3{
        font-size: 1.3em;
        font-weight: bold;
      }
    }


    .left-container{

      .modal-img-show{
        width:300px;
        height:300px;
      }

    }


  }
}


@media screen and (max-width: 800px) {
  .modal-resource-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

    .create-resource-info {
      width: 100%;
      margin-bottom: 10px;

    }

    .modal-img-show {
      width: 80%;

    }

    .left-container {
      height: 40%;
      width: 80%;
      align-items: center;

      .modal-img-show {
        width: 80%;

        #resource-img{
          height: 70%;
        }
      }

      .below-img {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;

        .likes{
          display: flex;
          justify-content: center;
        }

        .rating{
          align-self: center;
        }

      }
    }
    .view-resource-info {
      height: 50%;
      width: 100%;

      .view-title {
        height: 10%;
        font-size: 1.2em;
      }

      .description{
        align-self: flex-start;
        margin-top: 0;

        .description-title{
          margin-bottom: 0;
        }
      }

      .view-description {
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 2%;

      }

      .add-comment-form{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .add-comment{

          font-size: 15px;

          input{
            width: 70%;
          }

        }

      }

      h3{
        font-size: 1.2em;
      }

      .view-comments{

        margin: 0;
        .comments{
          font-size: 10px;
        }
      }

    }
  }
}

@media screen and (max-width: 500px) {

  .modal-resource-content {

    .left-container {

      .below-img {
        display: flex;
        flex-direction: column;
        width: 200px;

        .likes {
          width: 100%;

          p {
            font-size: 15px;
          }

        }

      }


    }
    .view-resource-info{
      margin-top: 50px;

      .description{
        align-self: flex-start;
        margin-top: 0;

        .description-title{
          margin-bottom: 0;
        }

      }

      .view-description{
        font-size: 12px;
      }

      h3{
        font-size: 15px;
      }

      .add-comment-form{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .add-comment{

          font-size: 15px;

          input{
            width: 70%;
          }

        }

      }

      .view-comments{


        .comments{
          font-size: 10px;
          margin-top: 2%;
        }
      }

    }

  }




}


