// ----------------CREATE RESOURCE ------------------
.modal-resource-content {
  background-color: white;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 25px;

  .create-resource-info {
    background-color: white;
    width:50%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    // position:relative;
    border-radius: 25px;

    .form-group {
      width: 80%;
    }
  }
  .modal-img {
    background-color: white;
    width:50%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border:solid black;
    margin: 25px;
  }

// -----------------VIEW RESOURCE -------------------

  .view-resource-info {
    background-color: white;
    width:50%;
    height:96%;
    display:flex;
    align-items: center;
    flex-direction:column;
    // position:relative;
    border-radius: 25px;
    margin-top: 25px;

    .view-title {
      width: 90%;
      height: 5%;
      font-size: 2em;

      a {
        display: flex;
        justify-content: center;
      }
    }
    .view-description{
      width: 90%;
      height: 25%;
      margin-top: 50px;
      overflow: auto;
      font-size: 1.2em;

    }

    h3{
      align-self: flex-start;
      margin-top: 3%;
      margin-left: 5%;
    }

    .add-comment-form{
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      label{
        margin-bottom: 2%;
        font-size: 1.1em;
      }

      input{
        margin-bottom: 3%;
      }

    }

    .view-comments{
      width: 90%;
      height: 50%;
      margin-bottom: 25px;
      overflow:auto;

      .comment{
        // height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid black;
        padding: 10px;
        border-radius: 15px;
        width: 100%;
        margin-top: 7%;

        .user-name {
          margin-bottom: 10px;
          font-weight: bold;
        }
        p {
          overflow-wrap: break-word;
        }
      }

    }
  }

  .left-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .modal-img-show {
      // background-color: white;
      height:80%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // margin-left: 25px;
      // margin-top: 25px;
      // margin-right: 25px;
      #resource-img{
        height: 100%;
        border-radius: 5%;
        margin-top: 5%;
      }

    }

    .below-img {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 5%;

      .likes {
        // margin-top: 20px;
        // margin-left: 25px;
        width: 30%;
        // height: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        #heart-btn{
          margin: 10%;
        }

      }
      .rating {
        width: 30%;
        height: 30%;
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

        .checked {
          color: orange;
        }
      }
    }
  }
  .modal-view-resource-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-create-resource-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }

}

//media query

// @media screen and (max-width: 430px) {
//   .modal-resource {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     overflow: auto;

//     .create-resource-info {
//       width: 100%;
//       margin-bottom: 10px;

//     }

//     .modal-img {
//       width: 80%;
//     }
//     .left-container {
//       // margin-top: 100px;
//       height: 100%;
//       width: 80%;
//       align-items: center;l

//       .modal-img-show {
//         width: 80%;
//       }

//       .below-img {
//         width: 100%;
//       }
//     }
//     .view-resource-info {
//       height: 60%;
//       width: 100%;

//       .view-title {
//         height: 10%;
//       }
//       .view-description {
//         margin-top: 10px;
//       }
//       .view-comments {
//         margin-top: 10px;
//       }
//     }
//   }
// }

//media query

@media screen and (max-width: 800px) {
  .modal-resource-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

    .create-resource-info {
      width: 100%;
      margin-bottom: 10px;

    }

    .modal-img-show {
      width: 80%;

    }

    .left-container {
      height: 40%;
      width: 80%;
      align-items: center;

      .modal-img-show {
        width: 80%;

        #resource-img{
          height: 70%;
        }
      }

      .below-img {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .likes{
          display: flex;
          justify-content: space-between;
        }

        .rating{
          align-self: center;
        }

      }
    }
    .view-resource-info {
      height: 50%;
      width: 100%;

      .view-title {
        height: 10%;
        font-size: 1.2em;
      }
      .view-description {
        margin-top: 10px;
        font-size: 1.0em;
        margin-bottom: 2%;

      }

      .add-comment-form{
        .add-comment{

          label{
            font-size: 1.0em;
          }
        }
      }

      h3{
        font-size: 1.2em;
      }





    }
  }
}




